.page-item{
    color: #a1b8da;
    text-decoration: none;
    padding: 12px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .10s ease-in-out,background-color .10s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-item:hover{
    background-color: #dee2e6;
}
.active{
    z-index: 99;
    color: #fff;
    background-color: #3e77cc;
    border-color: #1a5dc3;
}